 *{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: sans-serif;
     line-height: 1.5;
=======
    font-family: 'Libre Baskerville', serif;
>>>>>>> master
}

/*HEADER*//* baseret på Michelle's responsive menu*/
body{
    background-color: #f2e5da;

    padding-top:65px;
}

h1, h2, h3 {
    color:#8e1320;
=======
    
>>>>>>> master
}

header {
    background: #dcc7b4;
    width: 100%;
    padding: 0 20px;
    top:0;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
    color: #8e1320;
}

#logo img {
    width: 45%;
}

#logo,
#main-nav a {
    color: #8e1320;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}


#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/*FOOTER*/

footer{
    background-color: #dcc7b4;
    color: #8e1320;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
     
}



.Billeder{
    display:flex;
    flex-wrap: wrap;
     width: 90px;
    
}




.Billeder img {
    width: 40px;

}
#oeko{
    height: 40px;
}


.billeder {
    display: flex;
    flex-direction: row;
}

.billeder2 {
    display:flex;
    flex-direction: row;
}

.Adresse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer div {
    
    margin: 0 10px 15px;

}
/*MAIN*/
main{
    width: 95%;
    margin: 4% auto;
    background-color: #f2e5da;
    }


#frontpic{
    width: 100%;
    margin: 0 auto;
}



.wrapper {
    display:flex;
    justify-content: space-between;
}

.wrapperabning {
    flex-direction: column;
}


.tallgalleri{
    display: flex;
    flex-direction: column
    
}

.tallgalleri section{
    flex-direction: row;
    margin-top: 10px;
    display: flex;
    align-items: center;
    
    
    
}
.tallgalleri p{
    margin-left: 50px;
}



.tallgalleri img{
    width: 30%;
    border-radius: 50%;
}
.tallgalleri p{margin-right: 10%;}

/*produkter*/

.products li a {
        text-decoration: none;
    color:#000;
    }

.products li {
    list-style-type: none;
    margin-top: 1px;
    border:solid;
    border-radius: 4px;
    border-width: thin;
    padding: 10px;
    text-align: center;
    background: #dcc7b4;
}

 .products li a:hover {
        color:#fff;
    }

.products{
    margin-top:20px;
}
    
    .galleri section p, .galleri section h2 {
        text-align: left;
        margin-top: 5%;
        margin-bottom: 3%;
    }


.galleri section img{
    width:100%;
    margin: 2% auto;
}

.galleri{
    display: flex;
    justify-content: space-between
   
}
.galleri section img{
    width: 100%;
    }
.galleri section h2 {
    padding-left: 5px;
    background:#8e1320;
    color:#dcc7b4;
}

    
    

/*Mobil*/
@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
        
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;

    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
    

    main img{
    margin: 1%;
    width: 100%;
    }

    /*produktliste*/
    
    
    .galleri{
        flex-direction: column;
    }

    footer{
        font-size: 0.8em;
    }
}



/*tablet og op*/
@media all and (min-width: 600px) {

 /*HEADER NAV*/
    
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }

    #logo-burger {
        margin: 0;

    }

    #logo {
        margin-top: 0.3em;
        
        
    }
    
    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
    }

    #main-nav a {
        margin: 0.5em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }
    
    
    #bigpicture{
       width: 45%;
        margin: 1%;
        align-self: center;
        
        
    }

    #bigwrap{
        display: flex;
        margin-top: 5%;
        
    }
    
    
    
    #logo img {
    width: 35%;
    }
    
    footer{
        font-size: 1em;
    }
    
    /*produkter*/
    
    .products {
        display: none;
    }
    
    .galleri {
        width:100%;
                
    }
    
    .galleri section{
        width:32%;       
    }
    
    
    /*om os*/
    .tallgalleri img{
        width:20%;
    }
    
    .tallgalleri p,.medarbejdere p{
            font-size: 110%;
        }
    #frontpic{
        width: 45%;
        float:right;
        margin-right: 3%;
        margin-top:3%;
    }
   .medarbejdere{
        margin-left: 6%;
       margin-right:6%;
    }
    
    .intro{
        width:
    }
    
}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

    /*HEADER*/
    
    header {
        flex-direction: row;
        align-items: center;
        align-content: space-evenly;
    }
    nav {
        width: 65%;
    }
    
    #bigpicture{
        width: 30%;
    }
    
    #logo img {
    width: 25%;
    }
    /*MAIN*/
    main{
        width: 80%;
        
    }
    
    .galleri section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #frontpic{
        width:30%;
    }
}
/*when you develop mobile first responsive pages, you add rules for different device sizes after all the global rules, starting with the smallest screen size*/
